<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${users}">
    <label for="surname">Введите фамилию </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname Error</div>
    <br/>
    <label for="name">Введите имя </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
    <br/>
    <label for="lastName">Введите отчество </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastname Error</div>
    <br/>
    <label for="jobTitle">Введите должность </label>
    <input type="text" th:field="*{jobTitle}" id="jobTitle"/>
    <div style="color:red" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}">jobTitle Error</div>
    <br/>
    <input type="submit" value="Создать!"/>
</form>

</body>
</html>
